html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

img {
    width: 100px;
    height: auto;
    cursor: pointer;
}