@font-face {
    font-family: ComixLoud;
    src: url("./fonts/ComixLoud.ttf");
}

:root {
    --primary: hsl(180, 100%, 50%);
}

* {
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/school.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.message {
    font-size: 16px;
    color: var(--primary);
    font-family: ComixLoud;
    
}

.memory-container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    background: #444;
}

.memory {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 40px 10px;
}

.memory img {
    width: 100px;
    height: auto;
    cursor: pointer;
    border-radius: 4px;
}

.button {
    padding: 8px 15px;
    background-color: var(--primary);
    opacity: 1;
    border: none;
    border-radius: 3px;
    color: #111;
    font-family: ComixLoud;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.modal {
    display: none;
    color: #111;
    background-color: var(--primary);
    border: white 2px solid;
    border-radius: 4px;
    padding: 20px 40px;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-family: ComixLoud;
    font-size: 30px;
}

.modal-visible {
    display: flex;
}
