:root {
    --primary: hsl(120, 100%, 10%);
}

* {
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 30px;
    color: var(--primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.memory {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 20px;
}

.memory img {
    width: 100px;
    height: auto;
    cursor: pointer;
    border-radius: 4px;
}

.button {
    padding: 8px 15px;
    background-color: var(--primary);
    opacity: 1;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.modal {
    display: none;
    color: white;
    background-color: var(--primary);
    border: white 2px solid;
    border-radius: 4px;
    padding: 20px 40px;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.modal-visible {
    display: flex;
}
